<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>我的日记</title>
    <script src="/static/jquery.js"></script>
    <script src="/static/showdown.js"></script>
    <script src="/static/av-min-1.2.1.js"></script>
    <script src="/static/highlight.min.js"></script>
    <link href="/static/monokai_sublime.min.css" rel="stylesheet">
    <link href="/static/blog.css" rel="stylesheet">
    <script>hljs.initHighlightingOnLoad();hljs.initHighlighting();</script>
    <script>//highlight the code
        function highlight_the_code(){
        $(document).ready(function() {
          $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
          });
        });
    }
    </script>
</head>
<body>
    <form id="form" target="hidden_frame">
        {% csrf_token %}
        <label for="zhichu"></label><input type="hidden" name="zhichu" id="zhichu" value=""/>
        <label for="tomato"></label><input type="hidden" name="tomato" id="tomato" value=""/>
        <label for="sport"></label><input type="hidden" name="sport" id="sport" value=""/>
        <p><input type="submit" name="send" id="send" value="提交" onclick="upload_blog()" />
        已经输入<span id="counter">0</span>字</p>
        <label for="content"></label><textarea name="content" id="content" onkeyup="compile()" 
onkeydown="countChar('content','counter')">#标题</textarea>
        <div id="result" class="markdown">
        </div>
        <iframe name='hidden_frame' id='hidden_frame'  style="display:none;">
            <script language=JavaScript>
               parent.location.reload();
            </script>
        </iframe>
        <script type="text/javascript">//生成markdown预览
function compile(){var a=document.getElementById("content").value,b=new 
showdown.Converter,c=b.makeHtml(a);document.getElementById("result").innerHTML=c;highlight_the_code();}function 
countChar(a,b){document.getElementById(b).innerHTML=document.getElementById(a).value.length}                 </script>
    </form>
    <p>{{ rlt }}</p>
</body>

