{% extends "base.html" %}
{% load markdown_deux_tags %}}
{% block blog_list %}
    <td valign="top">
        <center>
        {% if flavour != "mobile"%}
          <table style="border-color: #DDDDDD; border-style: solid; border-width: 1px; border-collapse: collapse" 
cellpadding="6" bgcolor="#FFFFFF" width="500px">
        {% else %}
           <table style="border-color: #DDDDDD; border-style: solid; border-width: 1px; border-collapse: collapse" 
cellpadding="6" bgcolor="#FFFFFF" width="90%">
        {% endif %}
       
            <tbody>
              <tr>
                <td>
                  <a name="{{post.date_time}}">
                    <center>
                      <table border="0" cellspacing="0" width="100%" cellpadding="3">
                        <tbody>
                          <tr>
                            <td bgcolor="#1e1e1e">
                              <table width="100%" border="0">
                                <tbody>
                                  <tr>
                                    <td>
                                      <b>
                                        <font size="2" color="#FFFFFF">{{post.title}}</font>
                                      </b>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table cellpadding="5" width="100%" border="0">
                                <tbody>
                                  <tr>
                                    <td>
                                    {% if flavour != "mobile"%}
                                      <font color="#696969" id="blog_content">{{post.content | markdown}}</font>
                                    {% else %}
                                       <font color="#696969" id="blog_content" size="5">{{post.content | markdown}}</font>
                                    {% endif %}

                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="right">
                                      <font size="2" color="Gray">{{post.date_time}}</font>
                                      <a href="/">返回首页</a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </center>
                  </a>
                </td>
              </tr>
            </tbody>
              </table>
            </center>
        <br>
    </td>
{% include "left_list.html" %}

{% endblock blog_list %}
